<div class="columns">
	<div class="column is-8 is-offset-2">
		<div class="panel">
			<p class="panel-heading">
				Students
				<button class="button is-primary is-small is-outlined is-pulled-right"
								ui-sref="student.detail">
					Add Student
				</button>
			</p>
			<div class="panel-body">
				<table class="table is-striped">
					<thead>
						<tr>
							<th>Student Name</th>
							<th>Assignments</th>
							<th width="1%"></th>
							<th width="1%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in studentGrid.students">
							<td>{{student.firstName}} {{student.lastName}}</td>
							<td>{{student.assignments.length}}</td>
							<td>
								<button class="button is-info"
												ui-sref="student.detail({studentId: student.studentId})">
												Edit
								</button>
							</td>
							<td>
								<button class="button is-danger"
												ng-click="studentGrid.deleteStudent(student)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
