<div class="columns">
	<div class="column is-8 is-offset-2">
		<div class="panel">
			<p class="panel-heading">
				Projects
				<button class="button is-primary is-small is-outlined is-pulled-right"
								ui-sref="project.detail">
					Add Project
				</button>
			</p>
			<div class="panel-body">
				<table class="table is-striped">
					<thead>
						<tr>
							<th>Project Name</th>
							<th>Assigned Count</th>
							<th width="1%"></th>
							<th width="1%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in projectGrid.projects">
							<td>{{project.name}}</td>
							<td>{{project.assignments.length}}</td>
							<td>
								<button class="button is-info"
												ui-sref="project.detail({projectId: project.projectId})">Edit</button>
							</td>
							<td>
								<button class="button is-danger"
												ng-click="projectGrid.deleteProject(project)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
